body::before{
    display: block;
    content: '';
    height: 60px;
}
@media(min-width:768px){
    .news-input{
        max-width: 50%;
        height: auto;
    }
}
.heading{
    text-align: center;
}
.navbar{
    background-color: #795caa;
}
.about{
    background-color: #9875d3;
}
.type{
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }
.skills{
    background-color: #c0ade2;
}
.experience{
    background-color: #a580e4;
}
.certificate{
    background-color: #6441a0;
}
.projects{
    background-color: #482f72;
}
.box{
    background: transparent;
    font-family: 'Signika', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box:before,
.box:after{
    content: "";
    width: 20%;
    height: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    opacity: 0;
    transform: rotate(-40deg);
    transform-origin: top right;
    position: absolute;
    top: -6px;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
}
.box:after{
    transform-origin: left bottom;
    top: auto;
    bottom: -6px;
    right: auto;
    left: 0;
}
.box:hover:before,
.box:hover:after{
    width: 30%;
    opacity: 1;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.4s ease 0s;
}
.box:hover img{
    opacity: 0.3;
    filter: grayscale(100%);
}
.box .box-content{
    color: #fff;
    width: 85%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transition: all 0.6s ease;
}
.box:hover .box-content{ opacity: 1; }
.box .title{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 3px;
}
.box .post{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 10px;
    display: block;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon li{
    margin: 0 5px;
    display: inline-block;
}
.box .icon li a{
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    line-height: 33px;
    width: 33px;
    height: 33px;
    display: block;
    transition: all 0.35s;
}
.box .icon li a:hover{
    color: #00000000;
    background: rgba(255, 255, 255, 0);
    box-shadow: 3px 3px 1px rgba(255, 255, 255, 0);
}
@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}
.bi{
    font-size: x-large;
}
.contact{
    background-color: #a988e1;
}